* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.login-wrapper {
  width: 35vw;
  min-height: 70vh;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 70px 50px 30px 50px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper h2 {
  flex: 1;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22vw;
}

.login-form .input-wrapper input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  align-self: center;
  font-family: Poppins-Bold;
  font-size: 12px;
}

.login-form .input-wrapper input:focus {
  outline: none;
}

.login-form .input-wrapper label {
  font-family: Poppins-Bold;
  font-size: 14px;
  color: #333333;
  line-height: 1.2;
}
.login-form button {
  background-color: #d63447;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 80%;
  border-radius: 20px;
  align-self: center;
}

.create-account-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-accont-container span {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

.create-accont-container a {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*
Credit to the following source for CSS advice
Part of CSS styling comes from  https://www.w3schools.com/w3css/4/w3.css and
https://colorlib.com/wp/template/login-form-v2/
*/
