* {
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}

.nav-container {
  display: flex;
  min-height: 10%;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #24292e;
  padding-left: 10vw;
}

.name {
  align-items: center;
  flex: 1.5;
}

.name a {
  font-family: Poppins-Bold;
  color: #fff;
  font-size: 30px;
  line-height: 1.2;
  text-decoration: none;
}

.navs {
  flex: 1;
}

.navs li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.navs a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 80vw;
  min-height: 70vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 2vw;
  align-items: center;
}
.card-container h1 {
  flex: 0.15;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

table {
  flex: 1;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
